@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* Set Geist as the default */
    /* font-family: "Geist", ui-sans-serif, system-ui, sans-serif; */
    font-family: 'Figtree', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Smooth scrolling for internal links */
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    /* Prevent "rubber-banding" on mobile scrolls */
    overscroll-behavior-y: none;
    font-family: 'Figtree', sans-serif;
  }
}

/* Custom scrollbar for that "Fancy" NOC look */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
}